<h1>  {{ 'EXPENSE_LIST' | translate }}</h1>

<div class="row">
    <kendo-grid
        [data]="items"
        [pageSize]="state.take"
        [skip]="state.skip"
        [pageable]="true"
        [filterable]="true"
        [filter]="state.filter"
        (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="amount" filter="numeric"></kendo-grid-column>
        <kendo-grid-column field="date" filter="date" format="{0:g}"></kendo-grid-column>
        <kendo-grid-column field="description"></kendo-grid-column>
        <kendo-grid-column field="comment"></kendo-grid-column>
        <kendo-grid-column field="username" [filterable]="false"></kendo-grid-column>
    </kendo-grid>
</div>
