<h1>  {{ 'EXPENSE_LIST' | translate }}</h1>

<div class="row">
    <kendo-grid
        [data]="items"
        [pageSize]="take"
        [skip]="skip"
        [pageable]="true"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="amount"></kendo-grid-column>
        <kendo-grid-column field="date"></kendo-grid-column>
        <kendo-grid-column field="description"></kendo-grid-column>
        <kendo-grid-column field="comment"></kendo-grid-column>
        <kendo-grid-column field="username"></kendo-grid-column>
    </kendo-grid>
</div>
