<div class="col-md-6 col-md-offset-3">
    <h2>Enter new password</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required />
            <div *ngIf="f.submitted && !newPassword.valid" class="help-block">New Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmation.valid }">
            <label for="confirmation">Confirm Password</label>
            <input type="password" class="form-control" name="confirmation" [(ngModel)]="model.confirmation" #confirmation="ngModel" required />
            <div *ngIf="f.submitted && !newPassword.value" class="help-block">Confirmation is required</div>
            <div *ngIf="f.submitted && newPassword.value != confirmation.value" class="help-block">Confirmation should be equal to your new password</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>