<div class="row">
    <a [routerLink]="['./add']" class="btn btn-link">Add new expense</a>
    <a [routerLink]="['./report']" class="btn btn-link">Go to a weekly report</a>
</div>
<div class="row">
    <kendo-grid
        [data]="items"
        [pageSize]="state.take"
        [skip]="state.skip"
        [pageable]="true"
        [filterable]="true"
        [filter]="state.filter"
        [sortable]="{ mode: 'single' }"
        [sort]="state.sort"
        (dataStateChange)="dataStateChange($event)"
        (edit)="editHandler($event)" (remove)="removeHandler($event)"
                >
        <kendo-grid-column field="amount" filter="numeric"></kendo-grid-column>
        <kendo-grid-column field="date" filter="date" format="{0:g}"></kendo-grid-column>
        <kendo-grid-column field="description"></kendo-grid-column>
        <kendo-grid-column field="comment"></kendo-grid-column>
        <kendo-grid-column field="username" [filterable]="false"></kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
            <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand>Delete</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>
