<div class='main-nav'>
  <div class='navbar'>
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]="['/expenses']">Expense Managment System</a>
    </div>
    <div class='clearfix'></div>
    <div  *ngIf="userIsLogged" class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/expenses']">
            <span class='glyphicon glyphicon-home'></span> {{ 'EXPENSE_LIST' | translate }}
          </a>
        </li>
        <li *ngIf="showUsersSection" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/users']">
            <span class='glyphicon glyphicon-user'></span> {{ 'USERS' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
